#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.article-image {
  width: 20%;
  height: 20%;
  margin-top: 20px;
}

li {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px rgba(255, 255, 255, 0.876) solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.753);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  color: #020024;
}

ul {
  margin: 0px;
  padding: 0px;
}

.all-articles {
  align-items: center;
  margin: auto;
  width: 70%;
}

.comment-card {
  padding: 0px;
  width: 300px;
}

.show-comments-button {
  margin-bottom: 20px;
}
.all-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-button {
  margin-bottom: 10px;
}

.post-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}