#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAF9F6;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #748CAB;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1D2D44;
  height: 35px;
  width: 160px;
  font-size:smaller;
  
}
button:hover {
  border: 1px solid #FAF9F6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

a {
  font-weight: 500;
  color: #FAF9F6;
  text-decoration: inherit;
  cursor: pointer;
}


.nav-a { 
  color: #1D2D44;
  font-weight: 500;
  text-decoration: inherit;
}

.nav-a:hover {
  color:#748CAB
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #1D2D44;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  width: 550px;
}

@media screen and (max-width: 900px) {
  .App {
    width: 300px;
  }
}

.card {
  padding: 2em;
}

.article-image {
  width: 30%;
  height: 30%;
  margin-top: 20px;
}

li {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px #1D2D44 solid;
  border-radius: 10px;
  background-color: #1D2D44;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  color:  #FAF9F6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.single-article {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px #1D2D44 solid;
  border-radius: 10px;
  background-color: #1D2D44;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  color:  #FAF9F6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

ul {
  margin-top: 0px;
  padding: 0px;
}

.all-articles {
  align-items: center;
  margin: auto;
}

.comment-card {
  width: 300px;
  background-color: #748CAB;
  padding: 0px;
  color:#1D2D44;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-comment-card {
  background-color: #748CAB;
  color:#1D2D44;
  width: 300px;
}

.all-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-button {
  margin-bottom: 10px;
  background-color: #748CAB;
  color: #1D2D44;
  height: 35px;
  width: 160px;
  font-size:smaller;
  font-size:smaller;
}

nav{
  position: relative;
  display:flex;
  justify-content: space-around;
  line-height: 55px;
 
}

nav::before,
nav::after {
  position: absolute;
  width:33px;
  height: 20px;
  content:"";
}

nav::before {
  left:0;
  top:0;
  border-left: 3px solid black;
  border-top: 3px solid black;
}

nav::after {
  right: 0;
  bottom: 0;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.topic-name {
  padding-bottom: 20px;
}

#sortby-bar {
  display: flex;
  justify-content: space-around;
  font-size:small;
  margin-top: 10px;
  height: 33.59px;
}

#orderby-bar {
  display: flex;
  justify-content: space-around;
  font-size:small;
  margin-top: 10px;
}

#sortby-bar-title {
 line-height:8px;
}

.date-true {
  color: #FAF9F6
}

.date-false {
  color: #1D2D44
}

.votes-true {
  color: #FAF9F6
}

.votes-false {
  color: #1D2D44
}

.comment-count-true {
  color: #FAF9F6
}

.comment-count-false {
  color: #1D2D44
}

.account-nav {
  display: flex;
  justify-content: space-around;
}

h2 {
  color: #1D2D44
}

#intro-line {
  color: #1D2D44
}

#topics-search {
  margin-top: 30px;
  display: flex;
  justify-content:space-evenly;
  height:30px;
  font-size:small;
  line-height: 30px;
}

input {
  padding-left: 5px;
  width: 200px;
}

#all-comments-header {
  color: #FAF9F6;
}

.article-card-from-list:hover {
  background-color: #748CAB;
  border-color: #748CAB;
  color:#FAF9F6;
  cursor: pointer;
}

.topic-heading:hover {
  background-color: #748CAB;
  border-color: #748CAB;
  color:#FAF9F6;
  cursor: pointer;
}

#submit-comment-button {
  margin-top: 5px;
  margin-bottom: 10px;
}

#comment-form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:30px;
  font-size:small;
  line-height: 30px;
}

.signout-button {
  margin-top: 15px;
  width: 75px;
  height: 25px;
  margin-left: 15px;
  font-size:xx-small;
}

.signout-button:hover {
  border: 1px solid #1D2D44;
  color: #1D2D44;
}

#username {
  margin-top: 10px;
  margin-bottom: 10px;
}
#password {
  margin-bottom: 10px;
}